<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
<!--    <th:block th:each="msg : ${messages}">-->
<!--        <h1 th:text="${msg}"></h1>-->
<!--    </th:block>-->
    <br>
    <a href="/cars">Get cars List</a>
    <br>
    <br>
    <h>Choose the number of cars to display:</h>
    <form action="/cars" method="get">
        <label for="count">Number of cars:</label>
        <input type="number" id="count" name="count" min="0">
        <button type="submit">Show Cars</button>
    </form>


</div>
</body>
</html>